html {
  font-family: sans-serif;
  font-size: 0.625em;
}

body {
  color: #333333;
  font-size: 1.6rem;
  max-width: 960px;
  margin: 0 auto 80px;
  padding: 20px;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: underline;
}

a.silent {
  text-decoration: none;
}

.link {
  width: 1.4rem;
  height: 1.4rem;
  display: inline-block;
  background-image: url(external-link-symbol.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  font-size: 6rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 80px 0 80px 0;
  padding: 0;
}

h2 {
  font-size: 3rem;
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  line-height: 1.2;
  margin: 60px 0 20px;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #dddddd;
}

#footer {
  color: #888888;
  font-size: 1.2rem;
  margin-top: 40px;
}

.content {
  padding: 0;
}

.content > .item {
  margin: 0 0 20px 0;
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts li {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.2;
}

.note {
  color: #888888;
  font-size: 1.1rem;
  margin: 4px 0 0 0;
}

.sns-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
  padding: 0;
  margin: 10px 0;
}

.sns-list > li {
  display: flex;
  align-items: center;
  list-style-type: none;
  line-height: 2;
  margin-right: 1em;
}

.sns-icon {
  font-size: 18px !important;
  margin-right: 4px;
}

.icon-hatenablog {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-image: url(../img/hatenablog-logo.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.icon-pixiv {
  vertical-align: middle;
}
