.box {
  margin: 50px auto 100px;
  width: 800px;
}

.content-picture {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.content-picture img {
  width: 100%;
}

.masu {
  table-layout: fixed;
  width: initial;
  margin: 0 auto;
}

.masu td {
  padding: 0 !important;
  width: 78px;
  height: 78px;
  background-position: center center;
  background-size: cover;
}

.masu td a {
  display: block;
  width: 78px;
  height: 78px;
}

.masu tr {
  height: 78px;
  border-width: 10px;
}
